version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: genius_db
      MYSQL_USER: genius
      MYSQL_PASSWORD: genius4MySql!
    ports:
      - "3307:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    networks:
      - plana-net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-prootpass"]
      interval: 5s
      timeout: 3s
      retries: 10

  plana-backend:
    build: .
    container_name: plana-backend
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/genius_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=utf8
      SPRING_DATASOURCE_USERNAME: genius
      SPRING_DATASOURCE_PASSWORD: genius4MySql!
      # SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8081:8080"
    networks:
      - plana-net

networks:
  plana-net:
    driver: bridge
